* {
    margin: 0;
    padding: 0;
}



.Darius {
    border-radius: 25px;
    margin: 10px;
    justify-content: center;
    
}

.box {
border: 1px solid black;
border-radius: 20px;
width: 100px;
margin-bottom: 10px;
cursor: pointer;

}

.box:hover {
    color:  #fff;
    background-color: black;

}

.animation:hover {
    transform: scale(1.0);
}

@media screen and (max-width: 600px) {
    .top {
        flex-wrap: wrap;
        font-size: 15px;
        overflow-wrap: break-word;
    }
}

@media screen and (min-width: 320px) and (max-width: 766px) {
    .Darius img {
        
    }
}

h2 {
    margin: 12px;
}


